extends layouts/main-layout.pug
block styles 
block content
    main
            if prods.length>0
                grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src="", alt="")
                            .cart__content 
                                h2.product__price 
                                p.product__description
                            .cart__actions 
                                button.btn Add to cart
            else
                h1 No products